extends layout

block content
  h1= title
  p This is an URL shortener service for the Free Code Camp API Project
  h2 How it works
  p Submit an URL to be shortened by adding it to 
    code #{baseurl+'new/'}
  p E.g.: 
    code #{baseurl+'new/http://www.google.com'}
  p Then enter a shortened URL by just adding it to this page, e.g. 
    code #{baseurl+'fn71wszc'}
  p Have fun. 
