extends layout

block content
  h1= title
  p This is an basic API service for the Free Code Camp API Project: Image Search Abstraction Layer. 
  br
  h2 How it works
  p Enter a search term after the homepage URL to get a json list of image search results, e.g.
  p
    code https://enigmatic-coast-74533.herokuapp.com/search-term
  p You can also get a list of recent search terms by going here 
    a(href = "https://enigmatic-coast-74533.herokuapp.com/latest") https://enigmatic-coast-74533.herokuapp.com/latest/
